# Misc modules
CONFIG_HELLO			:= N
CONFIG_LIBRARIES		:= K
CONFIG_FIFO_IO_SCHED		:= K
CONFIG_IDE			:= K
CONFIG_INTERRUPTS		:= K
CONFIG_TASK			:= K
CONFIG_MBR_PART_TABLE		:= K
CONFIG_SYSCALL			:= K
CONFIG_BIN_ELF			:= K
CONFIG_NET_MBUF			:= N
CONFIG_CPUVAR			:= K
CONFIG_POSIX_SYSCALLS		:= K

# Drivers
CONFIG_PCI			:= K
CONFIG_DRIVER_EM		:= N
CONFIG_GDB_STUB			:= N
CONFIG_I8042			:= K
CONFIG_I8254			:= K

# Memory-specific modules
CONFIG_PAGINATION		:= K
CONFIG_PM			:= K
CONFIG_FIRST_FIT_KMALLOC	:= K
CONFIG_FRAME_ALLOCATOR		:= K
CONFIG_PAGE_ALLOCATOR		:= K
CONFIG_SLAB			:= N

# Dev-related modules
CONFIG_DEVFS			:= K
CONFIG_NULL			:= K
CONFIG_ZERO			:= K
CONFIG_CHAR			:= K
CONFIG_BLOCK			:= K

# Serial/log-related modules
CONFIG_ISA_SERIAL		:= K
CONFIG_DRIVER_SERIAL_16550	:= K
CONFIG_DRIVER_PCI_SERIAL	:= K
CONFIG_KMSG			:= K
CONFIG_SYSLOG			:= K

# Init and tests-related modules
CONFIG_COMMANDLINE		:= K
CONFIG_TEST			:= K
CONFIG_INIT			:= K
CONFIG_START_ULAND		:= K

# FS-related modules
CONFIG_MBRFS			:= K
CONFIG_RAMFS			:= K
CONFIG_VFS			:= K
CONFIG_EXT2			:= K

# SMP-defining modules
CONFIG_8259A			:= N
CONFIG_APIC			:= K
CONFIG_SMP			:= K
CONFIG_MP			:= K
CONFIG_INTERRUPTS_APIC		:= K
CONFIG_FIFO_SCHEDULER		:= N
CONFIG_MQ_SCHEDULER		:= K
