# Misc modules
CONFIG_HELLO			:= N
CONFIG_LIBRARIES		:= M
CONFIG_FIFO_IO_SCHED		:= M
CONFIG_IDE			:= M
CONFIG_INTERRUPTS		:= M
CONFIG_TASK			:= M
CONFIG_MBR_PART_TABLE		:= M
CONFIG_SYSCALL			:= M
CONFIG_BIN_ELF			:= M
CONFIG_NET_MBUF			:= N
CONFIG_CPUVAR			:= M
CONFIG_POSIX_SYSCALLS		:= M

# Drivers
CONFIG_PCI			:= M
CONFIG_DRIVER_EM		:= N
CONFIG_GDB_STUB			:= N
CONFIG_I8042			:= M
CONFIG_I8254			:= M

# Memory-specific modules
CONFIG_PAGINATION		:= M
CONFIG_PM			:= M
CONFIG_FIRST_FIT_KMALLOC	:= M
CONFIG_FRAME_ALLOCATOR		:= M
CONFIG_PAGE_ALLOCATOR		:= M
CONFIG_SLAB			:= N

# Dev-related modules
CONFIG_DEVFS			:= M
CONFIG_NULL			:= M
CONFIG_ZERO			:= M
CONFIG_CHAR			:= M
CONFIG_BLOCK			:= M

# Serial/log-related modules
CONFIG_ISA_SERIAL		:= M
CONFIG_DRIVER_SERIAL_16550	:= M
CONFIG_DRIVER_PCI_SERIAL	:= M
CONFIG_KMSG			:= M
CONFIG_SYSLOG			:= M

# Init and tests-related modules
CONFIG_COMMANDLINE		:= M
CONFIG_TEST			:= M
CONFIG_INIT			:= M
CONFIG_START_ULAND		:= M

# FS-related modules
CONFIG_MBRFS			:= M
CONFIG_RAMFS			:= M
CONFIG_VFS			:= M
CONFIG_EXT2			:= M

# SMP-defining modules
CONFIG_8259A			:= M
CONFIG_APIC			:= N
CONFIG_SMP			:= N
CONFIG_MP			:= N
CONFIG_INTERRUPTS_APIC		:= N
CONFIG_FIFO_SCHEDULER		:= M
CONFIG_MQ_SCHEDULER		:= N
