# Misc modules
CONFIG_LIBRARIES		:= M
CONFIG_FIFO_IO_SCHED		:= N
CONFIG_SYSCALL			:= N
CONFIG_BIN_ELF			:= N
CONFIG_CPUVAR			:= N
CONFIG_POSIX_SYSCALLS		:= N

# Drivers
CONFIG_PCI			:= N
CONFIG_DRIVER_EM		:= N

# Memory-specific modules
CONFIG_FIRST_FIT_KMALLOC	:= M
CONFIG_FRAME_ALLOCATOR		:= M
CONFIG_PAGE_ALLOCATOR		:= M

# Dev-related modules
CONFIG_DEVFS			:= N
CONFIG_NULL			:= N
CONFIG_ZERO			:= N
CONFIG_CHAR			:= N
CONFIG_BLOCK			:= N

# Serial/log-related modules
CONFIG_ISA_SERIAL		:= N
CONFIG_DRIVER_SERIAL_16550	:= N
CONFIG_DRIVER_PCI_SERIAL	:= N
CONFIG_KMSG			:= N
CONFIG_SYSLOG			:= N

# Init and tests-related modules
CONFIG_COMMANDLINE		:= M
CONFIG_TEST			:= M
CONFIG_INIT			:= M
CONFIG_START_ULAND		:= N

# FS-related modules
CONFIG_RAMFS			:= N
CONFIG_VFS			:= N
